* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto" Arial;
}

 body {
  font-family: sans-serif;
  /* background: linear-gradient(to right, cyan, blue); */
  /* background-image: url(https://media1.giphy.com/media/MC6eSuC3yypCU/giphy.gif?cid=ecf05e47iyfuww7uwmgufkr5zdrvs75qt1u2efjivd4gzhcp&rid=giphy.gif); */
  /* background-image: linear-gradient(to right, #0f0e0e, #201e1e); */
  background-image: linear-gradient(to right, #14306a, #0e2eb3);
}

label {
    cursor: pointer;
    font-size: 22px;
}


#app {
    height: auto;
}

.header-site {
  border-bottom: 2px solid rgb(233, 224, 224);
  margin-bottom: 30px;
  display: flex;
}

.header-site div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.material-icons {
  cursor: pointer;
}

.header-site h2 {
  color: #fff;
  padding: 12px;
}

.formLine {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 25px;
    align-items: center;
    width: 85%;
    margin: auto;
    padding: 12px;
}

.formLine:focus-within {
    border: 2px solid #fff;
}

.formLine input {
  padding: 12px;
  font-size: 0.8em;
  width: 85%;
  border-radius: 12px;
  border: 2px solid blue;
  outline: none;
}

.formLine label {
    color: rgb(33, 226, 59);
    font-weight: 700;
    font-size: 1.5em;
}


[class*="col-"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 12px;
    gap: 12px; /* Gap ya es nativo en flexbox :) */
}

input::-webkit-details-marker {
  color: red;
}

.formLine button {
    color: #fff;
    background: #90f;
    border: none;
    outline: yellow;
    border-radius: 12px;
    padding: 14px;
    margin: 12px;
    width: 35%;
    margin: auto;
    grid-column: 1 / span 2;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 16px;
}

.formLine button:hover {
    transform: scale(0.92);
}

.container-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}


footer { 
  color: #fff;
  background-color: #054b81;
  height: auto;
}

footer h2:not(.teacher) {
  text-align: center;
  text-align-last: center;
  padding: 18px;
}

.container-footer {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 50% 15%;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
}

.teacher {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}

.name li {
  list-style: none;
  margin: 22px 0;
}